.footer {
	background: black;
	font-family: $poppins;
	color: white;
	margin-top: 10rem;
	padding: 2.5rem 0;
	font-size: 1.8rem;

	a {
		color: white;
	}

	a:hover {
		color: $primaryColor;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 73%;
		margin-inline: auto;
	}

	&__socials {
		font-size: 2.5rem;

		i {
			margin-right: 5rem;
		}

		i:last-of-type {
			margin-right: 0;
		}
	}

	&__logo {
		width: 14%;

		img {
			width: 65%;
		}
	}

	&__copyright {
		font-weight: bold;
	}
}

@media (max-width: 768px) {
	.footer {
		&__socials {
			font-size: 1.5rem;
		}

		&__logo {
			display: none;
		}

		&__copyright {
			font-size: 1.5rem;
		}
	}
}
