.hero {
	box-sizing: border-box;
	width: 100vw;
	min-height: 106vh;
	background-image: $heroImage;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 2rem;

	&__content {
		padding-top: 11%;
		padding-left: 13.5%;
		width: 40%;
		color: white;
	}

	&__title {
		font-family: $roboto;
		font-size: 8.2rem;
		font-weight: 700;
		color: white;
		line-height: 10rem;
		margin-bottom: 3rem;
	}

	&__p {
		margin-top: 0;
		font-size: 1.8rem;
		line-height: 3rem;
	}

	&__buttonsWrapper {
		margin-top: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 70%;

		.btn--transparent {
			margin-left: 30px;
			font-size: 1.8rem;
			font-weight: bold;
		}
	}
}

@media (max-width: 480px) {
	.hero {
		background-size: 100%;
		background-position: 50% 106%;
		background-color: $primaryColor;
		min-height: 100vh;

		&__content {
			width: 90%;
			padding-inline: 0;
			margin-top: 0;
			padding-top: 20%;
			margin-inline: 5%;
		}

		&__buttonsWrapper {
			width: 100%;
		}
	}
}
